* {
  padding: 0;
  margin: 0;
}

body {

  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  text-underline-position: below;
}

li {
  list-style: none;
}

.main-area {
  padding: 50px 0 100px 60px;
}

.thumbs-row {
  display: flex;
}

td {
  padding-right: 30px;
}

td img {
  padding-right: 10px;
}

.thumbnail {
  width: 50px;
}



.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}
