* {
  padding: 0;
  margin: 0;
}

body {

  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

#main-container {
  background-color: #83aed9;
  min-height: 100vh;
  padding: 20px;
}

.main-area {
  padding: 50px 0 100px 60px;
}

#playGround {
  display: grid;
  grid-template-columns: repeat(8, 110px);
  margin: 50px;
}

.memoryCard {
  background-color: darksalmon;
  height: 90px;
  margin: 10px;
  filter: drop-shadow(1px 1px 1px #000);
}

.memoryCard img {
  height: 90px;
  opacity: 0;
}

img.chosen {
  opacity: 1;
}

.noPlay {
  visibility: hidden;
}

.thumbs-row {
  display: flex;
}

td {
  padding-right: 30px;
}

td img {
  padding-right: 10px;
}

.thumbnail {
  width: 50px;
}

.blackBg {
  background-color: #555;
  display: flex;
  width: 180px;
  justify-content: space-between;
  padding-bottom: 12px;
}

.feedback {
  background-color: #555;
  display: flex;
  flex-direction: column;
  width: 24px;
  margin-left: 24px;
  justify-content: flex-start;

}



.blackBg img {
  object-fit: contain;
  width: 30px;
}

.activeCircle {
  filter:
          drop-shadow(-1px -1px 0px #aaa)
          drop-shadow(1px -1px 0px #aaa)
          drop-shadow(1px 1px 0px #aaa)
          drop-shadow(-1px 1px 0px #aaa)
}

#gameArea {
  display: grid;
  grid-template-columns: 180px 50px;
  background-color: #555;
  width: 350px;
  height: 500px;
  padding: 20px;
}

.blackBgRight img {
  width: 12px;
  object-fit: contain;
  margin-bottom: 3px;
}

.blackBgRight {

  display: grid;
  grid-template-columns: 15px 15px;
  padding-bottom: 12px;
}
.blackBgRight > *.filled {

  filter:
          drop-shadow(1px 1px 1px #000)

}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sitebase {
  display: grid;
  grid-template-columns: 250px auto;
}

#sidebar {
  padding: 10px;
}